version: "3.7"
services:
  ddns-updater:
    image: qmcgaw/ddns-updater
    container_name: ddns-updater
    network_mode: bridge
    ports:
      - 8000:8000/tcp
    volumes:
      - ./data:/updater/data
    environment:
      - DELAY=300s
      - ROOT_URL=/
      - LISTENING_PORT=8000
      - LOG_ENCODING=console
      - LOG_LEVEL=info
      - NODE_ID=0
      - HTTP_TIMEOUT=10s
      - GOTIFY_URL=
      - GOTIFY_TOKEN=
    restart: always
